/* Import de la police Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Réinitialisation des styles de base */
* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


/* Header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

/* Logo */
.logo img {
    width: 250px;
    height: auto;
    display: block;
}

.navigation a {
    text-decoration: none;
    color: #8a2be2;
    font-size: 1.1em;
    font-weight: 500;
    margin-left: 30px;
}

.navigation a:hover {
    color: #435585;
}

/* Add styles for the new Dashboard button */
.navigation a:last-child {
    color: white;
    background-color: #8a2be2;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-left: 30px; /* Adjusted margin for spacing between the last link and the others */
    transition: 0.7s ease;
}

.navigation a:last-child:hover {
    background-color: aqua;
    color: #471a72;
    transform: scale(1.1);
}


/* Section principale */
main {
  padding: 60px; /* Espacement interne ajusté */
  text-align: center; /* Centrage du contenu */
  margin: 80px 40px; /* Espacement par rapport au header réduit */
}

h1 {
  font-size: 2.8em; /* Taille du titre augmentée */
  margin-bottom: 25px; /* Espacement sous le titre réduit */
  color: #8a2be2; /* Couleur violette pour le titre */
}

/* Formulaire */
#matchesForm {
  width: 60%;
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 10px;
  color: #8a2be2;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Footer ----- */

.footer {
  background-color: #f5f5dc;
  padding: 20px;
}

.footer p {
  text-align: center;
}

.footer p span a {
  color: #8a2be2;
  text-decoration: none;
  font-weight: 400;
  font-size: 17px;
}

